<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Информация о бронировании</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/css/all-page-style.css" rel="stylesheet">
</head>
<body>
<main>
    <div th:replace="~{blocks/headerForPages :: headerForPages}"></div>
    <div class="container mt-5">
        <h1>Информация о бронировании</h1>
        <div>
            <p>Тип номера: <span th:text="${booking.rooms.roomType.title}"></span></p>
            <p>Количество мест: <span th:text="${booking.rooms.roomType.places}"></span></p>
            <p>Дата бронирования: <span th:text="${booking.bookingDate}"></span></p>
            <p>Дата заезда: <span th:text="${booking.checkInDate}"></span></p>
            <p>Дата выселения: <span th:text="${booking.departureDate}"></span></p>
            <p>Сумма: <span th:text="${booking.amount}"></span></p>
            <p>Статус брони: <span th:text="${booking.status.title}"></span></p>
            <p>Описание брони: <span th:text="${booking.description}"></span></p>
            <p>Тип бронирования: <span th:text="${booking.bookingType.type}"></span></p>
            <h3>Включенные услуги</h3>
            <ul>
                <li th:each="service : ${includedServices}">
                    <span th:text="${service.title}"></span>
                </li>
            </ul>
            <h3>Дополнительные услуги</h3>
            <ul>
                <li th:each="service : ${additionalServices}">
                    <span th:text="${service.title}"></span> - <span th:text="${service.price}+ руб."></span>
                </li>
            </ul>
            <!-- Добавляем кнопку отмены бронирования -->
            <form th:action="@{/cancelBookingByUser/{bookingId}(bookingId=${booking.id})}" method="post">
                <button type="submit" class="btn btn-danger">Отменить бронь</button>
            </form>
        </div>
    </div>
</main>
<div th:replace="~{blocks/footer :: footer}"></div>
<!-- Подключение jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<!-- Подключение Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<!-- Подключение Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!-- jQuery Mask Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</body>
</html>
